---
import Layout from '../layouts/Layout.astro';
---
<Layout title="APIOps Cycles">
  <section class="section">
    <div class="container cta">
      <div class="_3-2-col-grid">
        <div class="block-with-divider vertical">
          <div class="left"><img src="/images/apiops-cycles-logo2025-blue.svg" alt="APIOps Cycles logo blue" class="image-10" /></div>
          <h2 class="heading-6"><strong>Map Your API Journey with APIOps Cycles</strong></h2>
          <p class="paragraph-3"><strong>A practical method to design, deliver, and manage APIs at scale.</strong></p>
          <p class="left">APIOps Cycles© basic method is openly licensed, vendor and technology-neutral.</p>
          <div class="button-wrap">
            <a href="/the-method" class="button w-button">Start Your API Journey</a>
          </div>
        </div>
        <div class="content-block values-content"><img src="/images/apiops-cycles2025-capability-map.svg" alt="" class="image-11" /></div>
      </div>
    </div>
  </section>
</Layout>
