---
import Layout from '../layouts/Layout.astro';
---
<Layout title="APIOps Cycles">
  <h1>Welcome to APIOps Cycles</h1>
  <p>This site contains methods, metro lines, and resources to support API development.</p>
</Layout>
